{% extends "base-menu.html" %}
{% load news %}



{% block before_navbar %}
  <div class="header-bar">
    <a class="brand" href="#">Вологда, аэропорт</a>
    <div class="clear"></div>
  </div>
  <div class="top-banner"><img src="{{STATIC_URL}}img/vokzal.jpg"></div>
{% endblock %}


{% block site_content %}
  <div class="page-title">{% block page_name %}{% endblock %}</div>

  {% news_bar %}

  <div class="content">
          {% block main_content %}{% endblock %}
  </div>

  <div class="clear"></div>
{% endblock %}
