{% load coffeescript accounts %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}avia35{% endblock %}</title>
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen">
    <meta charset="utf-8">
    <link href="{{STATIC_URL}}img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      {% block before_navbar %}{% endblock %}
      <div class="navbar-top">
          <div class="nav-item"><a href="{% url 'index_page' %}" class="{% block page_index %}{% endblock %}" >На главную</a></div>
          <div class="nav-item"><a href="{% url 'news_list' %}" class="{% block page_news %}{% endblock %}">Новости</a></div>
          <div class="nav-item">
            <a href="{% url 'support_index' %}" class="{% block page_support %}{% endblock %}">Тех. поддержка</a>
            <div class="sub-menu support">
              <a href="#">Создать обращение</a>
              <a href="{% url 'support_ticket_list' %}">Мои обращения</a>
            </div>
          </div>
          <div class="nav-item"><a href="#" class="{% block page_documents %}{% endblock %}">Документы</a></div>
          <div class="nav-item"><a href="#" class="{% block page_mobile %}{% endblock %}">Мобильная связь</a></div>
          <div class="nav-item">
            {% if user.is_authenticated %}
              <span>{{ user }}</span>
              <div class="sub-menu auth-info">
                <span class="info">{{ user.first_name }} {{ user.last_name }}</span>
                <span class="info">{{ user.email }}</span>
                <a href="{% url 'accounts_logout' %}?next={% url 'index_page' %}">Выход</a>
              </div>
            {% else %}
              <span>Авторизация</span>
              <div class="sub-menu auth">
                {% accounts_login_form %}
              </div>
            {% endif %}
          </div>
          <div class="clear"></div>
      </div>
      <div class="container">
        {% block site_content %}{% endblock %}
      </div>
      <div class="bottom-bar">
        <span>ОАО Вологодское авиационное предприятие</span>
      </div>
    </div>
    <script src="{{STATIC_URL}}js/libs/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery.form.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/script.coffee" %}"></script>
  </body>
</html>
