{% load coffeescript %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}avia35{% endblock %}</title>
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen">
    <meta charset="utf-8">
    <link href="{{STATIC_URL}}img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      123
    </div>
    <script src="{{STATIC_URL}}js/libs/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery.form.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/script.coffee" %}"></script>
  </body>
</html>
