{% extends "base.html" %}


{% block page_name %}Главная{% endblock %}

{% block page_index %}active{% endblock %}

{% block main_content %}
    <p><strong>Данный сайт предназначен для информационной поддержки пользователей ОАО ВАП.</strong></p>
    <p> Для полноценной работы на сайте необходимо выполнить процедуру авторизации. Для этого введите Ваш логин и пароль в правой части окна (тот же логин и пароль который Вы используете для входа в систему после загрузки компьютера) затем нажмите кнопку "вход". </p>
    <p>Раздел <strong>"Новости"</strong> содержит уведомления о проведении регламентных работ и иных событиях связанных с IT сферой в предприятии.</p>
    <p>Раздел <strong>"Тех. поддержка"</strong> предназначен для подачи обращений к системному администратору в случае возникновения технических проблем.</p>
    <p>Раздел <strong>"Документы"</strong> содержит инструкции, приказы и другие нормативные документы. При возникновении затруднений в работе с компьютером рекомендуется ознакомится с содержимым данного раздела.</p>
    <p>Раздел <strong>"Мобильная связь"</strong> предоставляет возможности самостоятельно контролировать месячный лимит расходов. В случае превышения лимита по служебной необходимости можно предоставить рапорт до 20 числа слудующего месяца  за расчетным. Рапорт должен быть заверен начальником службы в которой Вы состоите.</p>
{% endblock %}
