<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}avia35{% endblock %}</title>
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <link href="{{STATIC_URL}}img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>

  <p>Открытое акционерное общество <br> “Вологодское авиационное предприятие”</p>
  <p class="doc-name">Справка</p>

  <p>По результатам проверки за телефонные переговоры за декабрь 2013г. выявлены перерасходы установленных лимитов по сотовой связи.</p>

  <table class="gridtable">
    <tr>
      <th>Номер телфона</th>
      <th>Владелец</th>
      <th>Сумма расходов, р</th>
      <th>Лимит, р</th>
      <th>Перерасход, р</th>
    </tr>

    <tr>
      <td>9211433214</td>
      <td>Соснин Александр Алексеевич</td>
      <td>1500</td>
      <td>500</td>
      <td>1000</td>
    </tr>
  </table>


  <p>Инженер АСУ <br> Соснин А. А.</p>

  </body>
</html>
