{% extends "base.html" %}


{% block page_name %}Тех. поддержка | Мои обращения{% endblock %}

{% block page_support %}active{% endblock %}

{% block main_content %}

    <div class="tickets-list">
        <div class="ticket new">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>

        <div class="ticket">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
        <div class="ticket new">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
        <div class="ticket">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
        <div class="ticket closed">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
        <div class="ticket closed">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
        <div class="ticket closed">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
        <div class="ticket closed">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
        <div class="ticket closed">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
        <div class="ticket closed">
            <div><a href="">Катридж</a></div>
            <div class="info">
                <span>зарегистрировано 12.12.2013</span>
                <span>обновлено 12.12.2013</span>
                <span>Диановская Галина Вениаминовна</span>
                <span>123</span>
            </div>
        </div>
    </div>

    <div class="pagination">
        <ul>
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active" ><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><span>...</span></li>
            <li><a href="#">99</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>

{% endblock %}
