{% extends "base.html" %}


{% block page_name %}Новости | Регламентные работы{% endblock %}

{% block page_news %}active{% endblock %}

{% block main_content %}
    <div class="news-inner">
        <div class="new-img">
            <img src="{{STATIC_URL}}media/installation.gif">
        </div>
        <div class="new-content">
            <p>
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            12.12.2013 будут производиться регламентные работы
            </p>
            <p class="date">Дата публикации: 10.12.2013</p>
        </div>
    </div>
{% endblock %}
