body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0088CC;
}

input, textarea {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 5px;
}

input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);

}

fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 10px 0px;
}

.btn-primary {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 4px 12px;
    border-radius: 4px;
}

.doc-name {
    text-align: center;
}

.btn-primary:hover {
    background-color: #0044CC;
    background-image: linear-gradient(to bottom, #0044CC, #0044CC);
}

.clear {
    clear: both;
    height: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.error-msg {
    padding: 10px;
    color: #B94A48;
    display: none;
}

.error-input input, .error-input textarea {
    border-color: #B94A48;
}

.error-input .error-msg {
    display: inline;
}


.header-bar {
    background-color: #333333;
    border-radius: 4px 4px 0 0;
}

.header-bar a {
    color: #999999;
    font-size: 20px;
    display: block;
    float: left;
    padding: 10px 20px 10px 20px;
}

.header-bar a:hover {
    color: #FFFFFF;
}

.top-banner img {
    display: block;
}

.navbar-top {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    border-radius: 0 0 4px 4px;
    border: 1px solid #D4D4D4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.navbar-top .nav-item {
    float: left;
    position: relative;
}

.navbar-top .nav-item a, .navbar-top .nav-item span{
    display: block;
    padding: 10px 20px 10px 20px;
    color: #777777;
}

.navbar-top .nav-item a:hover, .navbar-top .nav-item span:hover {
    color: #333333;
}

.navbar-top .nav-item .active {
    background-color: #E5E5E5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
}

.navbar-top .nav-item .sub-menu {
    position: absolute;
    display: none;
    border: 1px solid #D4D4D4;
    border-radius: 0 0 4px 4px;
    background-color: #FAFAFA;
    z-index: 1000;
}

.navbar-top .nav-item:hover .sub-menu {
    display: block;
}

.navbar-top .nav-item .sub-menu a:hover {
    background-color: #E5E5E5;
}

.navbar-top .nav-item .support {
    width: 180px;
}

.auth label{
    display: block;
    padding: 10px 10px 0px 10px;
}

.auth input{
    display: block;
    margin: 0px 10px 10px 10px;
    width: 150px;
}

.auth button {
    margin: 10px;
    width: 160px;
}

.auth .error {
    padding: 10px;
    color: #B94A48;
}

.auth-info {
    width: 250px;
}

.bottom-bar {
    background-color: #333333;
    border-radius: 4px;
    color: #999999;
}

.bottom-bar span {
    padding-left: 10px;
}

.content {
    width: 700px;
}

.content p {
    margin-top: 0;
}

.page-title {
    color: #999999;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-bar {
    float: right;
    width: 220px;
}

.news-bar .news {
    padding-bottom: 10px;
}

.news-bar .news a {
    color: #999999;
}

.news-bar .date {
    font-weight: bold;
}

.news-bar .actual a{
    color: #555555;
}

.news-announce {
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    min-height: 200px;
    margin-bottom: 10px;
}

.news-img {
    width: 200px;
    position: absolute;
}

.news-img .date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFFFFF;
    background-color: #000000;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 2px 5px;
}

.news-content {
    margin-left: 230px;
}

.news-content a {
    color: #999999;
    font-size: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news-content .date {
    text-align: right;
}

.news-inner {
    padding: 10px;
    position: relative;
    min-height: 200px;
}

.news-announce .actual a {
    color: #444444;
}

.pagination {
    text-align: center;
}

.pagination ul {
    display: inline-block;
    padding-left: 0;
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a, .pagination ul > li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    color: #428BCA;
}

.pagination ul > li > span {
    color: #999999;
}

.pagination ul > li > a:hover {
    background-color: #E5E5E5;
}

.pagination .active > a, .pagination .active > a:hover {
    background-color: #428BCA;
    color: #FFFFFF;
}

.new-tiket {
    padding-left: 40px;
}

.new-tiket .text {
    height: 100px;
    width: 600px;
}

.new-tiket .title {
    width: 600px;
}

.new-tiket .submit {
    position: relative;
}

.new-tiket .submit .progress {
    position: absolute;
    left: 200px;
    top: 0px;
    display: none;
}

.tiket-accepted {
    padding: 10px;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom: 10px;
}

.tickets-list .ticket {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 5px 15px;
    margin-bottom: -1px;
}

.tickets-list .ticket:hover {
    background-color: #EEEEEE;
}

.tickets-list .ticket .info {
    font-size: 10px;
}

.tickets-list .ticket .info span {
    margin-right: 20px;
}

.tickets-list .new {
    background-color: #DFF0D8;
}

.tickets-list .closed, .tickets-list .closed a {
    color: #999999
}

.ticket-header {
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom: -1px;
    background-color: #E5E5E5;
}

.ticket-header .title {
    font-size: 20px;
    color: #555555;
    margin-bottom: 10px;
}

.ticket-header .info, .ticket-comments .comment .info{
    text-align: right;
}

.ticket-header .info span, .ticket-comments .comment .info span {
    margin-left: 20px;
    font-size: 10px;
}

.ticket-comments .comment {
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom: -1px;
}

.ticket-comments .answer {
    background-color: #DFF0D8;
}

.documents-list {
    padding-bottom: 10px;
}

.documents-list .header, .documents-list .document{
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin-bottom: -1px;
    background-color: #E5E5E5;
}

.documents-list .header {
    border-radius: 4px 4px 0px 0px;
}

.documents-list .document {
    background-color: #FFFFFF;
}

.documents-list .number {
    display: inline-block;
    width: 40px;
    vertical-align: top;
}

.documents-list .title {
    display: inline-block;
    width: 630px;
    vertical-align: top;
}

.document-view img {
    max-width: 938px !important;
    border: 1px solid #CCCCCC;
    margin: 10px 0;
    border-radius: 4px;
}

.mobile-history {
    padding: 10px 0;
}

.mobile-limits .limit, .mobile-history .detail .limit {
    padding: 10px;
}

.mobile-history select {
    margin-bottom: 10px;
}

.mobile-history .detail .header {
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin-bottom: -1px;
    background-color: #E5E5E5;
    border-radius: 4px 4px 0 0;
}

.mobile-history .detail .header span, .mobile-history .detail .limit span {

    display: inline-block;
    text-align: center;
}

.mobile-history .detail .limit {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.mobile-history .detail .limit:hover {
    background-color: #F5F5F5;
}

.mobile-history .detail .phone{
    width: 200px;
}

.mobile-history .detail .mlimit{
    width: 150px;
}

.mobile-history .detail .sum{
    width: 150px;
}

.mobile-history .detail .delta{
    width: 150px;
}

.mobile-history .mselect {
    position: relative;
}

.mobile-history .mselect select{
    width: 190px;
}

.mobile-history .mselect .progress {
    position: absolute;
    left: 200px;
    display: none;
}

.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    width: 100%;
}

.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
