{% extends "base.html" %}


{% block page_name %}Тех. поддержка{% endblock %}

{% block page_support %}active{% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
        <p>Данный раздел предназначен для обращения к системному администратору ОАО ВАП. Сформулируйте Вашу проблему и опишите ее максимально конкретно.</p>
        <p>Для каждой проблемы должно быть создано отдельное обращение. Для создания нового обращения перейдите по ссылке <a href="{% url 'support_ticket_new' %}"><strong>"Создать обращение"</strong></a>.</p>
        <p>После создания обращения имеется возможность просмотреть историю сообщений, отправить еще одно или несколько сообщений в рамках созданного обращения, либо ознакомится с ответом системного администратора. Для выполнения данных действий перейдите по соответствующей ссылке в разделе <a href="{% url 'support_ticket_list' %}"><strong>"Мои обращения"</strong></a>.</p>
    {% else %}
        <p><strong>Для работы в данном разделе необходимо выполнить авторизацию на сайте</strong></p>
    {% endif %}
{% endblock %}
